// -> showStack

doctype html
title= 500
h1 500: Internal Server Error
if showStack
    if error.stack
        each val in error.stack.split('\n')
            = val
            br
    else
        = error
