//- -> account, messages
doctype html
title Chat Room
link(rel='stylesheet' href='style.css')
script(src='bundle.js')

include _messages

div
    = (((Math.random() < .5? 'You': 'Yoo'))) + ' seem to be logged in as a(n) '
    strong
        = account.name
    |.
    form(action='/logout' method='POST')
        input(type='submit' value='Log out')

.chatbox
    .chatentry
        .chatname Flaise
        .chatmessage arg
    .chatentry
        .chatname wjh4fg89yseoi8g3
        .chatmessage
            | Lorem ipsum dolor sit amet, cum nibh appellantur ne, sed ad nullam albucius. Ad atqui vivendum mea, est ei soleat facilisi intellegam. Quod libris ut vis, quo erat labitur an, ludus vocent oblique at has. Mel ea augue partem repudiandae. Nam ne tantas causae scribentur. Sonet nominavi molestie qui at, est an fuisset tincidunt.
            br
            br
            | Quo hendrerit gloriatur ad, mei ut sint case similique. Sed no omnis minimum laboramus, quo verear albucius te. Mea ne animal suscipit pertinax, quod cibo saperet ius et. Habemus phaedrum cu has, ex postea numquam tractatos quo, no eam modus atqui meliore. Quando munere accusamus nam id, per option ponderum postulant ex, eu oblique volumus vis.
input.chatinput(type='text' placeholder='Click here and type stuff and press enter to send so you can send stuff')