//- -> account, messages
doctype html
title Chat Room
link(rel='stylesheet' href='style.css')
script(src='bundle.js')

include _messages

div
    = (((Math.random() < .5? 'You': 'Yoo'))) + ' seem to be logged in as a(n) '
    strong
        = account.name
    |.
    form(action='/logout' method='POST')
        input(type='submit' value='Log out')

.chatbox
    .chatentry
        .chatname
        .chatmessage
            | Using your javascripts to log you in. Please wait while you are logged in.
input.chatinput(type='text' placeholder='Click here and type stuff and press enter to send so you can send stuff')